<h1>Users</h1>
<p><i>Version App: <%= ENV['APP_VERSION'] %></i></p>
<p><i>Innver Version App: 1.0.17</i></p>

<%= link_to 'New user', new_user_path %>

<table>
  <tr>
    <th>Email</th>
    <th colspan="2"></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user_path(user), method: :delete %></td>
    </tr>
  <% end %>
</table>
